.intro-center-button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.game-name-title {
  font-size: 4.5rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.game-name-input-title {
  font-size: 2.6rem;
}
.game-name-input-title-diff {
  margin-top: 10%;
  font-size: 2.6rem;
}
.game-input {
  outline: 0;
  background: transparent;
  border-width: 0 0 2px;
  border-color: rgb(255, 255, 255);
  width: 300px;
  color: white;
  font-size: 1.8rem;
  font-family: "Rock Salt", cursive;
  text-align: center;
  padding-top: 20px;
}
.form-wrapper {
}

.intro-primary {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 50px;

  /* backface-visibility: hidden;   FIXING SHAKINESS OF ANIMATION*/
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 8rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: white;
  color: rgb(41, 41, 41);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.main-screen-bg {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #0207135e, #383a3ac7),
    url("../src/assets/bg/bgv2.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateX(100px);
    color: black;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn-animated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@media only screen and (max-width: 440px) {
  .game-name-title {
    font-size: 3rem;
  }
  .game-name-input-title {
    font-size: 1.5rem;
  }
  .game-name-input-title-diff {
    font-size: 1.5rem;
  }
  .game-input {
    width: 200px;
    color: white;
    font-size: 1rem;
    font-family: "Rock Salt", cursive;
    text-align: center;
    margin-top: 30px;
  }
}
