*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Rock Salt", cursive;
  color: #f1eded;
  font-weight: 400;
  line-height: 1.6;
  background-color: #f9f8fd; }

a {
  text-decoration: none;
  color: inherit; }

.intro-center-button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.game-name-title {
  font-size: 4.5rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.game-name-input-title {
  font-size: 2.6rem; }

.game-name-input-title-diff {
  margin-top: 10%;
  font-size: 2.6rem; }

.game-input {
  outline: 0;
  background: transparent;
  border-width: 0 0 2px;
  border-color: white;
  width: 300px;
  color: white;
  font-size: 1.8rem;
  font-family: "Rock Salt", cursive;
  text-align: center;
  padding-top: 20px; }

.intro-primary {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 50px;
  /* backface-visibility: hidden;   FIXING SHAKINESS OF ANIMATION*/ }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 8rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: white;
  color: #292929; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.main-screen-bg {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #0207135e, #383a3ac7), url("../src/assets/bg/bgv2.jpg");
  background-size: cover;
  background-position: top;
  position: relative; }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateX(100px);
    color: black; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.btn-animated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

@media only screen and (max-width: 440px) {
  .game-name-title {
    font-size: 3rem; }
  .game-name-input-title {
    font-size: 1.5rem; }
  .game-name-input-title-diff {
    font-size: 1.5rem; }
  .game-input {
    width: 200px;
    color: white;
    font-size: 1rem;
    font-family: "Rock Salt", cursive;
    text-align: center;
    margin-top: 30px; } }

.guessedWordWrapper {
  margin-left: 20%;
  margin-right: 20%; }

.guessedWordStyle {
  margin-top: 20%;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.letterWrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10rem; }

.letterStyle:focus {
  outline: 0; }

.letterStyle {
  font-family: "Rock Salt", cursive;
  width: 80px;
  line-height: 55px;
  background: rgba(170, 187, 204, 0);
  border: none;
  border-radius: 4px;
  color: white;
  margin: 10px;
  border: 1px solid;
  text-transform: uppercase;
  font-size: 2rem; }

@media only screen and (max-width: 780px) {
  .letterStyle {
    font-size: 1.3rem;
    width: 55px;
    line-height: 35px; }
  .guessedWordWrapper {
    margin-left: 5%;
    margin-right: 5%; } }

@media only screen and (max-width: 585px) {
  .letterWrapper {
    width: 100%; }
  .guessedWordStyle {
    font-size: 2rem; }
  .letterStyle {
    font-size: 1rem;
    width: 40px;
    line-height: 30px; }
  .guessedWordWrapper {
    margin-left: 5%;
    margin-right: 5%; } }

@media only screen and (max-width: 460px) {
  .guessedWordStyle {
    font-size: 1.5rem; }
  .letterWrapper {
    width: 100%; }
  .letterStyle {
    font-size: 1rem;
    width: 30px;
    margin: 5px;
    line-height: 30px; } }
